<div class="d-flex flex-md-row flex-column">
  <div class="col-md-3 col-12">
      <img src="{{usuario.avatar_url}}" alt="user photo">
      <div class="d-flex flex-column">
        <h2 class="m-0">{{usuario.name}}</h2>
        <h4>{{usuario.login}}</h4>
      </div>
      <p>{{usuario.bio}}</p>
  </div>
  <div class="d-flex col-md-9 col-12 flex-column">
    <div class="card bg-light" *ngFor="let repositorio of repositorios">
      <p>{{repositorio.name}}</p>
      <label>{{repositorio.description}}</label>
      <h4>{{repositorio.created_at | date: 'short'}}</h4>
      <p>{{repositorio.language}}</p>
      <p><a href="{{repositorio.html_url}}" target="_blank">{{repositorio.html_url}}</a></p>
    </div>
  </div>
</div>